.enable {
  background-color: black;
}

table {
  margin: auto;
  width: 900px;
  height: 900px;
  border-collapse: collapse;
  td {
    border: 1px solid black;
  }
}

main {
  text-align: center;
  background-color: lightgrey;
}
